

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1:wght@800&display=swap');

body{
    background-color: #9db2c691 !important;
}

p {
    margin-top: 1rem !important;
    
}

.container {
    width: 1170px;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.info-title {
    padding: 40px 0px 40px 0px;
    text-decoration: solid;
    /* color: #fff; */
    color: black;
    
}

.info-title h2 {
    font-family: 'Shippori Mincho B1', serif;
    font-weight: 800;
    margin-left: 25px;
    
}

.info-title p {
    margin-left: 25px;
    
}

.icon img {
    width: 125px;
    height: 125px;
    margin-left: 20px;
}

.info-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}


.header-info-text {
    display: flex;
    flex-direction: row;
    align-items: center;    
    justify-content: flex-start;

}

.study-page .study-page-datails .opacity-header {
    background-color: rgba(0, 0, 0, .2);
    border-color: transparent;
}

.study-page .study-page-datails .opacity-header .container .header-info .header-info-text p {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-right: 40px;
    font-size: .938em;
    font-weight: 400;
    text-align: left;
    color: #fff;

}


.study-page .study-page-datails .opacity-header .container .header-info .header-info-text p span {
    font-size: 1.7em;
    margin-right: 5px;
}

.study-page .study-topics {
    padding: 30px 0;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.study-page .study-topics .inicio {
    display: flex;
    justify-content: center;
    margin: 30px 15px;
}

.study-page .study-topics .study-timeline {
    position: relative;
    align-items: center;
}

.study-page .study-topics .container .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 35px 18px;
}

.aside-inicio {
    width: 90%;
    height: 300px;
    margin: 0;
}

.aside-inicio {    
    flex-direction: row;
}

.aside-inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.349);
    z-index: 3;
}

.aside-inicio{
    background-image: url("../img/estantes.jpg");
    background-size: 936px 200px;
}

.aside-inicio img {    
    height: 230px;
}

.aside-inicio img {
    margin-top: 40px;
}

.aside-inicio .titulo-inicio {
    background-color: #1A7E91;
    width: 939.6px;
    text-align: center;
    font-size: 16px;
}

.titulo-inicio {
    position: absolute;
    margin-top: 250px;
}

.bar {
    display: none;
    width: 3px;
    height: calc(100% + 200px);
    position: absolute;
    top: -90px;
    left: 50%;
    background: #e20c0c;
    
}

.bar {
    display: inline-block;    
}

.left {
    left: 0;
}

.timeline-container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;    
    border: medium solid red;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

.content {
    padding: 20px 30px;
    background-color: white;
    border-radius: 7px;
}

.timeline-container::after {
    content: ' ';
    position: absolute;
    width: 35px;
    height: 35px;
    right: -19px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}