/* @import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');


.study-page{
    display: flex;
    flex-direction: column;
    align-items: center;   
    
}

.study-page-html {
    width: 100%;
    /* box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); */
}

.study-page-html {
    background: #fc4a1a;    
    background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a);    
    background: linear-gradient(to right, #f7b733, #fc4a1a);  

}

.study-page-html {
    position: absolute;
    z-index: 3;
}

.icon-html img {
    width: 350px;
    height: 250px;
    /* margin-right: 5px; */
}

.text-title h1 {
    font-weight: 600;
    text-shadow: 9px 8px 5px black;
    color: white;
}

.opacity-header {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    background-color: rgba(0, 0, 0, .2);
    border-color: transparent ;
}

.container-menu {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;    
    height: 44px;
    /* box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); */
}

.container-menu .menu-link {
    height: 44px;
    width: auto;
    padding: 10px 0 0 5px;
}

.link-menu {
    font-size: 17px;
    /* font-family: 'Fredoka One', cursive; */
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
    letter-spacing: 1.3px;
    margin-left: 20px;
    margin-right: 20px;

}

.link-menu .fa-home {
    font-size: 35px;
    color: black;
}

.link-menu:hover {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.container-menu div:hover {
    color: black;
    background: #fc4a1a;    
    background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a);    
    background: linear-gradient(to right, #f7b733, #fc4a1a);
}


section {
    width: 70%;
    height: auto;
    background-color: rgb(255, 255, 255);
    margin-top: 374px;    
    
}

section {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16),
    0 3px 6px rgba(0,0,0,0.23);
    padding: 10px 55px 10px 35px ;
    
}

section h2 {    
    margin-top: 25px;
    margin-bottom: 30px;
    
}

section h3 {
    margin: 40px 0 25px 0 ;
}

section p {
    text-align: justify;
}

.container {
    display: flex;
    justify-content: center;
}

section img {
    width: 370px;
    justify-content: center;

}

.tag-class {
    color: green;
}

.tag-class-name {
    color: rgb(235, 235, 19);
}

.tag-text-color {
    color: black;
}

.tagnamecolor {
    color: brown;
}

.atributecolor {
    color: rgb(34, 93, 255);
}

.tagname {
    color: darkblue;
    font-weight: 500;
}

.atributecolor {
    color: rgb(34, 93, 255);
}

.text_code {
    color: black;
}

#titulo_exemplo {
    font-size: 18px;
    font-weight: 400;
}

.code_exemplo {
    background-color: #F1F1F1;
    padding: 8px 20px;
    margin-bottom: 15px;
    border-radius: 4px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}


section .codearea {
    padding-left: 15px;
    width: 100%;
    border-left: solid 4px blue;
    background-color: rgb(255, 255, 255);
    font-size: 16px;
    font-family: 'Inconsolata', monospace;
    /* color: black !important; */
}

.sabia_mais {    
    background: #fc4a1a;    
    background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a);    
    background: linear-gradient(to right, #f7b733, #fc4a1a);
}

.sabia_mais {
    /* background-color: rgb(58, 58, 58); */
    color: rgb(0, 0, 0);
    font-family: "Segoe UI",Arial,sans-serif;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    border: none;
    border-radius: 4px;
    text-align: left;
    outline: none;
    font-size: 18px;
    font-weight: bold;
}

button {
    display: inline-block;
}

button.sabia_mais:after {
    content: '\002B';
    color: black;
    font-size: 22px;
    font-weight: bold;
    float: right;
    /* margin-left: 5px; */

}

button.sabia_mais.active::after {
    content: '\2212';
}

.content {
    display: none;
    padding: 25px;
    background: rgba(93, 93, 93, 0.16);
    border-radius: 0;
}

.tag-sabia {
    font-family: 'Inconsolata', monospace;
}


